<div class="sidebar-item">
  <img
    class="sidebar-icon"
    src="https://cdn-icons-png.flaticon.com/512/747/747376.png"
  />
  <span class="sidebar-label">Início</span>
</div>
<div class="sidebar-item">
  <img
    class="sidebar-icon"
    src="https://cdn-icons-png.flaticon.com/512/1828/1828817.png"
  />
  <span class="sidebar-label">Pré-Matrícula</span>
</div>
<div class="sidebar-item">
  <img
    class="sidebar-icon"
    src="https://cdn-icons-png.flaticon.com/512/1828/1828911.png"
  />
  <span class="sidebar-label">Alunos</span>
</div>
<div class="sidebar-item">
  <img
    class="sidebar-icon"
    src="https://cdn-icons-png.flaticon.com/512/1828/1828961.png"
  />
  <span class="sidebar-label">Sair</span>
</div>
